name: ci

# workflow triggers
on:
  push:
    branches:
      - '**' # every branch
    tags:
      - '**'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  formatter:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: code formatter
        run: |
          pip install wheel
          pip install ruff
          ruff check src/
          ruff check tests/

  coverage:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: coverage
        run: |
          pip install wheel
          pip install -r requirements.txt
          python -m unittest discover -b


  # check if the makefile recipes are valid
  makefile:
    # needs: [test-and-build, docs] # commented because the serial execution slowed down the CI
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.14'
      - name: makefile recipes
        run: |
          make install
          make tests
          make docs
